*{
  margin: 0;
  padding: 0;
}
body{
  padding: 10px;
  margin: 0 auto;
}
main{
  padding: 50px 0;
  margin: auto;
}
main h1{
  text-align: center;
}
input#TecAdmin{
  width: 40px;
  height: 40px;
  margin: 20px auto;
  display: block;
}
input.Inputfase{
  width: 30px;
  height: 30px;
  margin: 20px;
  display: block;
}
.fase .accordion-button:not(.collapsed){
  background-color: transparent !important;
  box-shadow: none;
}
.accordion-item:last-of-type{
  border: none;
}
.conteudoFase input{
  width: 20px;
  height: 20px;
}
fieldset{
  border-radius: 10px;
  padding: 40px;
  border-bottom: 1px solid #666 !important;
}
legend{
  text-align: center;
  font-family: bc-alphapipe, sans-serif;
  font-weight: 200;
  font-size: 22px;
}
.headerConteudo{
  text-align: left;
  justify-content: space-between;
  font-family: bc-alphapipe, sans-serif;
  font-weight: 200;
  font-size: 28px !important;
  padding: 10px;
  border-radius: 20px;
  background-color: #FFF;
  position: realtive;
  z-index: 2;
  cursor: pointer;
}
.conteudoFase{
  padding: 5px 20px;
}
.conteudoFase .lista{
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 120px;
  justify-content: space-between;
}
.conteudoFase .lista label{
  font-size: 18px;
  margin-left: 10px;
}
.conteudoFase h3{
  color:#707070;
}
#headerUM{
  box-shadow: 0px 10px 0px #B8D629;
  border: 1px solid #B8D629 ;
}
#headerUM h2{
  color:#B8D629;
}
#headerDois{
  box-shadow: 0px 10px 0px #0586CE;
  border: 1px solid #0586CE ;
}
#headerDois h2{
  color:#0586CE;
}
#headerTres{
  box-shadow: 0px 10px 0px #E36A5C;
  border: 1px solid #E36A5C ;
}
#headerTres h2{
  color:#E36A5C;
}
#headerQuatro{
  box-shadow: 0px 10px 0px #48A1A9;
  border: 1px solid #48A1A9 ;
}
#headerQuatro h2{
  color:#48A1A9;
}
#headerCinco{
  box-shadow: 0px 10px 0px #252A35;
  border: 1px solid #252A35 ;
}
#headerCinco h2{
  color:#252A35;
}
#contentUM{
  border: 1px solid #B8D629 ;
}
#contentDois{
  border: 1px solid #0586CE ;
}
#contentTres{
  border: 1px solid #E36A5C ;
}
#contentQuatro{
  border: 1px solid #48A1A9 ;
}
#contentCinco{
  border: 1px solid #252A35 ;
}